/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Bedtime styles
*/

@font-face { /* http://eastfarthing.com/luculent/ */
  font-family: 'Luculent 10';
  src: url('fonts/luculent/luculent072d10.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Luculent 12';
  src: url('fonts/luculent/luculent072d12.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Luculent 18';
  src: url('fonts/luculent/luculent072d18.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Luculent b14';
  src: url('fonts/luculent/luculentb072d14.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Wondertype';
  src: url('fonts/WonderType-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --space-64px: 64px;
  --space-32px: 32px;
  --space-24px: 24px;
  --space-16px: 16px;
  --space-4px: 4px;
  --main-gray: #a0a0a0;
  --shadow-gray: #505050;
  --desktop-blue: #409f9f;
  --that-blue: #0000af;
  --type-10px: 'Luculent 10', monospace;
  --type-12px: 'Wondertype', 'Luculent 12', monospace;
  --type-18px: 'Wondertype', 'Luculent 18', monospace;
  --type-b14px: 'Wondertype', 'Luculent b14', monospace;
}

html {
  background-color: white;
}

body {
  color: #000;
  font-family: var(--type-12px);
  font-size: 14px;
  line-height: 1.3;
  image-rendering: crisp-edges;
  position: relative;
  background-color: var(--main-gray);
  border-left: 2px solid white;
  border-right: 2px solid white;
  /*
  height: 100vh;
  overflow-y: scroll;*/
}

.sort-of-desktop {
  background-color: var(--desktop-blue);
  height: 100vh;
  overflow: hidden;
}

.icon-land {
  padding: var(--space-64px);
  width: 260px;
  text-align: center;
}

.icon-land li {
}

.icon-land img {
  height: 48px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-land span {
  color: white;
  font-family: var(--type-12px);
  font-size: 14px;
  text-shadow: 1px 1px 0 black;
  display: block;
  margin-top: 2px;
}

.main-window {
  width: 800px;
  height: 600px;
  background-color: var(--main-gray);
  border: 1px solid black;
  overflow-y: scroll;
  position: fixed;
  bottom: 10vh;
  right: 10vw;
}

.main-window .pub-title {
  font-family: var(--type-12px);
  font-size: 16px;
}

.outline {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: var(--space-32px) 1px;
}

nav {
  position: sticky;
  top: 0;
  border-top: 2px solid white;
}

nav .outline {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0;
}

nav .pub-title {
  font-family: var(--type-14px);
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: var(--that-blue);
  padding: var(--space-4px);
  text-align: center;
}

nav .pub-details {
  font-family: var(--type-10px);
  font-size: 10px;
  background-color: var(--main-gray);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: var(--space-4px);
  display: flex;
  justify-content: space-between;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: var(--main-gray);
  border-bottom: 2px solid white;
}

footer .outline {
  padding: calc( var(--space-4px) / 2);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

footer span {
  border-left: 1px solid var(--shadow-gray);
  border-top: 1px solid var(--shadow-gray);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: baseline;
  line-height: 0;
  padding: 1px var(--space-32px);
}

.page {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 3px 3px 0 #000;
  padding: var(--space-64px);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.page p:not(:last-child) {
  margin-bottom: var(--space-24px);
}

.page section > header {
}

h2 {
  font-family: var(--type-18px);
  font-size: 18px;
}

h5 {
  font-family: var(--type-b14px);
  font-size: 14px;
  font-weight: 700;
}

.content p:first-child::first-letter {
  color: #fff;
  font-size: 48px;
  text-shadow: 3px 3px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  margin-right: 6px;
}

pre,
code {
  font-family: var(--type-10px);
  font-size: 10px;
  display: block;
  margin-left: var(--space-4px);
}
