/* Bedtime styles
*/

@font-face { /* http://eastfarthing.com/luculent/ */
  font-family: 'Luculent 10';
  src: url('../fonts/luculent/luculent072d10.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Luculent 12';
  src: url('../fonts/luculent/luculent072d12.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Luculent 14';
  src: url('../fonts/luculent/luculent072d14.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Wondertype';
  src: url('../fonts/WonderType-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --space-64px: 64px;
  --space-32px: 32px;
  --space-24px: 24px;
  --space-16px: 16px;
  --space-4px: 4px;
  --main-gray: #FB8B23;
  --shadow-gray: #8C4503;
  --that-blue: #d84a05; /*#0000af blue */
  --type-10px: 'Luculent 10', monospace;
  --type-12px: 'Luculent 12', monospace;
  --type-14px: 'Luculent 14', monospace;
  --type-serif: 'Wondertype', 'Luculent 18', monospace;
}

::-moz-selection {
  color: black;
  background: var(--main-gray);
  text-shadow: none;
}

::selection {
  color: black;
  background: var(--main-gray);
  text-shadow: none;
}

html {
  background-color: var(--main-gray);
}

body {
  color: #000;
  font-family: var(--type-serif);
  font-size: 16px;
  line-height: 1.4;
  image-rendering: crisp-edges;
  height: 100vh;
  overflow: hidden;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: var(--space-32px) 0;
  padding: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.small-text {
  font-size: 10px;
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-red {
  color: darkred;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre,
code {
  font-family: var(--type-10px);
  font-size: 10px;
  display: block;
  margin-left: var(--space-24px);
}

.sort-of-desktop {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

.icon-land {
  height: 100%;
}

.icon-land ul {
  padding: var(--space-64px) var(--space-16px) var(--space-64px) var(--space-64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: min-content;
  max-width: 260px;
}

.icon-land li {
  font-family: var(--type-14px);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: var(--space-16px);
}

.icon-land #podcast-icon {
  margin-bottom: auto;
}

.icon-land a {
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
}

.icon-land a:hover {
  border: 1px dotted var(--shadow-gray);
}

.icon-land img {
  height: 18px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* only makes sense for multiple chairs
.icon-land #podcast-icon img {
  height: 72px;
  width: auto;
}*/

.icon-land span {
  color: white;
  text-shadow: 1px 1px 0 black;
  display: block;
  margin-top: 6px;
}

.icon-land small {
  font-family: var(--type-10px);
  font-size: 10px;
  text-shadow: 0 0 0 transparent;
}

.icon-land .license {
  /*min-width: 180px;*/
  margin-bottom: 0;
}

/* index
*/

.story-index ul {
  padding: var(--space-64px);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: var(--space-16px);
  align-items: center;
  justify-content: end;
  height: 100%;
}

.story-index li {
  font-family: var(--type-12px);
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: var(--space-4px);
  max-width: 100px;
}

.story-index li a {
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
}

.story-index a:hover {
  border: 1px dotted var(--shadow-gray);
}

.story-index li span {
  color: white;
  text-shadow: 1px 1px 0 black;
  display: block;
  margin-top: 6px;
  text-transform: uppercase;
}

.story-index li img {
  height: 24px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.outline {
  position: relative;
}

.media-window {
  width: 400px;
  height: 120px;
  position: relative;
  background-color: var(--main-gray);
  border: 1px solid black;
  position: absolute;
  bottom: 10px;
  right: calc(20vh + 600px);
  box-shadow: 3px 3px 0 #000;
}

.media {
  display: block;
  margin: var(--space-16px);
}

.media audio {
  width: 100%;
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.main-window {
  width: 800px;
  height: 600px;
  position: relative;
  background-color: var(--main-gray);
  border: 1px solid black;
  position: absolute;
  bottom: calc(5% + 120px);
  right: 5%;
  overflow: hidden;
  box-shadow: 3px 3px 0 #000;
}

.main-window .window-wrapper {
  position: relative;
  height: 100%;
}

.main-window .outline {
  position: relative;
  height: calc(100% - 52px);
  overflow-y: scroll;
}

.window-title {
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 400;
}

.window-title hgroup {
  position: relative;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 26px;
  justify-items: center;
  border: 1px solid black;
  background-color: var(--that-blue);
}

.window-title h1 {
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  width: 100%;
  padding-top: var(--space-4px);
}

.window-title .close-window {
  color: white;
  font-family: var(--type-14px);
  font-size: 14px;
  display: block;
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  justify-self: end;
  width: 100%;
  background-color: lightgray;
}

.window-title .close-window:hover {
  background-color: gray;
}

.window-footer {
  position: sticky;
  bottom: 0;
  background-color: var(--main-gray);
  border-bottom: 2px solid white;
  font-family: var(--type-10px);
  font-size: 10px;
}

.window-footer .outline {
  padding: calc( var(--space-4px) / 2);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.window-footer p {
  border-left: 1px solid var(--shadow-gray);
  border-top: 1px solid var(--shadow-gray);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.window-footer span,
.window-footer img {
  margin: 0 1px;
}

.window-footer img {
  height: 11px;
  width: auto;
}

.window-footer .small-text {
  padding: 2px 1px 1px;
  display: flex;
  justify-content: space-between;
}

.page {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 3px 3px 0 #000;
  padding: var(--space-64px);
  margin: var(--space-32px) auto;
  width: 90%;
  min-height: calc(100% - 128px);
}

.page p:not(:last-child) {
  margin-bottom: var(--space-24px);
}

.page header {
  margin-top: var(--space-32px);
  margin-bottom: var(--space-64px);
}

.page header h2 {
  font-size: 32px;
}

.page p:first-child::first-letter {
  color: #fff;
  font-size: 48px;
  line-height: 1;
  text-shadow: 3px 3px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  margin-right: 6px;
}

.page footer {
  margin: var(--space-32px) 0;
  text-align: right;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ul {
  margin-bottom: var(--space-16px);
}

.content em {
  font-style: italic;
}

.content strong {
  font-weight: 700;
}

.content li {
  list-style-type: disc;
  padding-left: calc(var(--space-16px) / 2 );
  margin-left: var(--space-16px);
}

.content li:not(:last-child) {
  margin-bottom: var(--space-4px);
}

.content li li {
  list-style-type: circle;
  margin-left: var(--space-16px);
}

.content p code {
  display: inline-block;
  margin-left: 0;
}

/* Images in stories
*/

.page img {
  display: block;
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.page img + img {
  margin-top: var(--space-16px);
}

.inline-image {
  display: inline-block;
  margin: calc(var(--space-4px) / 2);
  max-height: 16px;
  width: auto;
  vertical-align: baseline;
}

/* Stacking as strategy
or table styling */

.page td {
  padding: var(--space-16px);
}

.page td span {
  display: block;
}

/* Page break in delicious user guidelines*/

.page .break-page {
  background-color: var(--main-gray);
  display: block;
  height: 40px;
  margin-top: var(--space-64px);
  margin-bottom: var(--space-32px);
  margin-left: calc((-1 * var(--space-64px)) - 1px);
  margin-right: calc((-1 * var(--space-64px)) - 4px);
  border: 1px solid black;
  border-left-color: var(--main-gray);
  border-right-color: var(--main-gray);
  box-shadow: 0 -3px 0 black;
}

#part-1-introduction,
#part-2-mermaids-folksongme,
#part-3-delicious-user-guide {
  padding-top: var(--space-24px);
  margin-bottom: var(--space-24px);
  margin-top: var(--space-16px);
}

#part-2-mermaids-folksongme + pre {
  margin-left: 0;
  margin-top: var(--space-24px);
}

#part-2-mermaids-folksongme + pre code {
  font-family: var(--type-12px);
  font-size: 12px;
  line-height: 1;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .main-window {
    width: 70%;
    height: 480px;
  }
  .window-title h1 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon-land ul {
    padding: var(--space-32px) var(--space-16px);
    max-width: 140px;
  }
  .media-window {
    width: 40%;
    min-width: 280px;
    right: auto;
    left: 5%;
  }

}
