<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ story.md.title }} — Bureaucracktic Bedtime Stories</title>
  <meta name="description" content="This is a contribution to the publication Bureaucracktic Bedtime Stories that results from the worksession Bureaucracksy, organised by Constant, association for arts and media, between 7 and 12 December 2020.
  Bureaucracksy brought together art and artivist practices around the imaginative re-appropriations of rules and regulations and investigated the governance of techno-social systems  through the prism of bureaucracy.
  The execution of rules is an essential element of computation, of digital infrastructures, and of the societies that they operate with.
  Critical practices of listing, naming, filtering, tool making, care and sharing require that some books are kept.">

  <link rel="canonical" href="{{ SITEURL }}/">

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/minireset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Dear source visitor,

  Welcome! Thanks for visiting the page source.
  Here's a recipe for Galettes:

  Ingredients for 5 galettes ⌀ 30cm
  - 1 cup of buckwheat flour (= 236.5gr)
  - 2 eggs
  - ½ cup de água
  - ¾ cup de leite
  - 3 tablespoons of butter (~17ml)
  - a pinch of salt

  Preparation
  1. Mix all ingredients together in a blender.
  2. Let the misture sit for 1 hour in the refrigerator.
  3. Grease a skillet or crepe maker with butter and set it to medium heat.
  4. Spread a spoon of the misture and let it cook for 1 minute. Turn it. This is the time to set up your favourite fillings and fold the galette.

  Bon appétit!
  your sysadmins
  -->

<div class="sort-of-desktop">
  <nav class="icon-land">
    <ul>
      <!--<li>
        <a href="/">
          <img src="/img/story-index.png" alt="Colourful office shelf">
          <span>Bureau's PC - back to story index </span>
        </a>
      </li>-->
      <li id="podcast-icon">
        <a href="/podcast.xml">
          <img src="/img/icon_chair_64px.png" alt="Dreamy blue office chair icon">
          <span>Podcast</span>
        </a>
      </li>
      <li>
        <a href="https://constantvzw.org/wefts/bureaucracksy.en.html">
          <img src="/img/documentation_24px.png" alt="Dreamy documentation icon">
          <span>Bureaucracksy <br>documentation</span>
        </a>
      </li>
      <li>
        <a href="https://constantvzw.org/">
          <img src="/img/constant_24px.png" alt="Constant black and white face">
          <span>Constant</span>
        </a>
      </li>
      <li class="license">
        <img src="/img/license_16px.png" alt="Dreamy license icon">
        <small>
          Copyleft with a difference&nbsp;.<br>
          Constant, Bureaucracktic Bedtime Stories. 2021.<br>
          This is a collective work, you are invited to copy, distribute,
          and modify it under the terms of the
          <a href="https://constantvzw.org/wefts/cc4r.en.html">CC4r license</a>
        </small>
        <small><a href="https://gitlab.com/manufacturaind/bedtime-stories">Sources</a></small>
      </li>
    </ul>
  </nav>

  <nav class="story-index">
    <ul>
      {% for story in stories %}
      <li><a href="/{{ story.slug }}/">
        <img src="/img/story-icon_24px.png" alt="Certified story icon">
        <span>{{ story.md.title }}</span>
      </a></li>
      {% endfor %}
    </ul>
  </nav><!-- /.story-index -->

  <div class="window-position">
    <section class="main-window">
      <div class="window-wrapper">
        <header class="window-title disable-select">
          <hgroup>
            <h1>{{ story.md.title }} — Bureaucracktic Bedtime Stories</h1>
            <a class="close-window" href="/"><img src="/img/close.png" alt="X to close window"></a>
         </hgroup>
       </header><!-- /.window-title -->
        <div class="outline">
          <article class="page">
            <header>
              <h2>{{ story.md.title }}</h2>
            </header>
            <div class="content">
              {{ story.md.content }}
            </div>
            {% if story.md.contributor is defined %}
              <footer>
                <h5>{{ story.md.contributor }}</h5>
              </footer>
             {% endif %}
          </article><!-- /.page -->
        </div><!-- /.outline -->
        <footer class="window-footer disable-select">
          <div class="outline">
            <p class="small-text">Wednesday, 22nd December 2021</p>
            <p class="small-text">
              <img src="/img/page.png" alt="Page icon">
              <span>1 of {% if story.md.pages is defined %} {{ story.md.pages }}
              {% else %} ? {% endif %}</span>
            </p>
          </div><!-- /.outline -->
        </footer><!-- /.window-footer -->
      </div><!-- /.window-wrapper -->
    </section><!-- /.main-window -->

    {% if story.md.media is defined %}
      <section class="media-window">
        <div class="window-wrapper">
          <header class="window-title disable-select">
            <hgroup>
              <h1>{{ story.md.media }}</h1>
              <a class="close-window" href="/"><img src="/img/close.png" alt="X to close window"></a>
           </hgroup>
         </header><!-- /.window-title -->
          <div class="outline">
            <div class="media">
              <audio
                controls
                src="/media/{{ story.md.media }}">
                <p>Your browser doesn't support HTML5 <code>audio</code> element.
                  Here's a <a href="/media/{{ story.md.media }}">direct link to the file</a>.</p>
              </audio>
            </div>
          </div><!-- /.outline -->
        </div><!-- /.window-wrapper -->
      </section><!-- /.media-window -->
    {% endif %}
  </div><!-- /.window-position -->

</div><!-- sort-of-desktop -->


  <!--
    This is the end of the body.
    Scripts (sometimes evil, sometimes mean, sometimes useful) are usually
    placed here. We didn't need scripts so far, so you won't find any here.
    Have a lovely day!
  -->
</body>
</html>
